// TODO

$primary: #10D4EA;
$light: #E8FBFD;
$dark: #021517;

$dark-text-emphasis-dark:           #042b2f;
$body-color-dark:                   #E8FBFD;
$body-bg-dark:                      #010C0E;
$body-secondary-bg-dark:            #042b2f;
$body-emphasis-color-dark:          #e7fafd;

@import "../node_modules/bootstrap/scss/bootstrap";
